doctype html
html
  head
    title= title
    script.
     setTimeout(function(){
         document.getElementById("sendtoairpay").submit();
     }, 1000);

    link(rel='stylesheet', href='/stylesheets/style.css')
  body

  .main.container
    .row
      .col-md-12
        table(width="100%")
          tr  
            td(align="center" valign="middle") 
              h1.display-4.m-b-2 Do Not Refresh or Press Back <br/> Redirecting to Airpay
              
        // register form
        form(method='POST' action= URL  id='sendtoairpay')
          div.form-group
            input#privatekey.form-control(type='hidden',  name='privatekey' value=privatekey)
          div.form-group
            input#merchant_id.form-control(type='hidden',  name='merchant_id' value=mid)
          div.form-group
            input#checksum.form-control(type='hidden',  name='checksum' value=checksum)
          div.form-group
            input#encdata.form-control(type='hidden',  name='encdata' value=data)
          div.form-group
            input#chmod.form-control(type='hidden',  name='chmod' value='')
          div.form-group
            input#currency.form-control(type='hidden',  name='currency' value='356')
          div.form-group
            input#isocurrency.form-control(type='hidden',  name='isocurrency' value='INR')
          div.form-group
            input#buyerEmail.form-control(type='hidden',  name='buyerEmail' value=fdata.buyerEmail || fdata.email)
          div.form-group
            input#buyerPhone.form-control(type='hidden',  name='buyerPhone' value=fdata.buyerPhone || fdata.phone)
          div.form-group
            input#buyerFirstName.form-control(type='hidden',  name='buyerFirstName' value=fdata.buyerFirstName || fdata.firstname)
          div.form-group
            input#buyerLastName.form-control(type='hidden',  name='buyerLastName' value=fdata.buyerLastName || fdata.lastname)
          div.form-group
            input#buyerAddress.form-control(type='hidden',  name='buyerAddress' value=fdata.buyerAddress || fdata.address)
          div.form-group
            input#buyerCity.form-control(type='hidden',  name='buyerCity' value=fdata.buyerCity || fdata.city)
          div.form-group
            input#buyerState.form-control(type='hidden',  name='buyerState' value=fdata.buyerState || fdata.state)
          div.form-group
            input#buyerCountry.form-control(type='hidden',  name='buyerCountry' value=fdata.buyerCountry || fdata.country)
            div.form-group
              input#buyerPinCode.form-control(type='hidden',  name='buyerPinCode' value=fdata.buyerPinCode || fdata.pincode)
            div.form-group
              input#orderid.form-control(type='hidden',  name='orderid' value=fdata.orderid || fdata.orderId)
            div.form-group
              input#amount.form-control(type='hidden',  name='amount' value=fdata.amount)
            div.form-group
              input#success_url.form-control(type='hidden',  name='success_url' value=fdata.success_url)
            div.form-group
              input#failure_url.form-control(type='hidden',  name='failure_url' value=fdata.failure_url)
            div.form-group
              input#callback_url.form-control(type='hidden',  name='callback_url' value=fdata.callback_url)
            div.form-group
              input#txnsubtype.form-control(type='hidden',  name='txnsubtype' value=fdata.txnsubtype || '')

